<div class="form">
  <h2>Sign Up</h2>
  <p>It's quick and easy.</p>
  <li routerLink="">X</li>
  <hr />
  <input type="text" placeholder="First name" />
  <input type="text" placeholder="Surname" />
  <input type="tel" placeholder="Mobile number or email address" />
  <br />
  <input type="text" placeholder="Reg No" />
  <label for="birthday">Birthday: </label>
  <input type="date" name="birthday" />
  <br />
  <input type="password" placeholder="New password" />
  <br />
  <label for="gender">Gender:</label>
  <input style="margin: 0px 5px;" type="radio" name="gender" value="male" />
  <label for="male">Male</label>
  <input style="margin: 0px 5px;" type="radio" name="gender" value="female" />
  <label for="female">Female</label>
  <input style="margin: 0px 5px;" type="radio" name="gender" value="other" />
  <label for="other">Other</label><br />
  <input
    style="margin: 0px 10px; margin-top: 40px;"
    type="checkbox"
    name="checkbx"
    value="tik"
  />
  <span style="font-size: 14px"
    >I agree to the QMeal <a href="#">Terms of Service</a> and
    <a href="#"> Privacy Policy</a></span
  >
  <br />
  <input routerLink="" type="submit" value="Sign Up" />
</div>
