/* .box {
  width: 400px;
  height: 350px;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 1px;
  box-sizing: border-box;
  text-align: center;
  margin: 100px auto;
  margin-bottom: 0px;
}

.box input[type="text"],
input[type="mail"],
input[type="string"],
input[type="password"],
input[type="submit"] {
  box-sizing: border-box;
  width: 352px;
  font-size: 17px;
  padding: 9px 16px;
  margin: 7px;
  border: 1px solid #4f5255;
  border-radius: 2px;
  vertical-align: middle;
  background-color: rgb(255, 255, 255);
}

.box input[type="password"] {
  margin-bottom: 15px;
}

.box .login {
  font-size: 22px;
  color: #fff;
  background-color: #162568;
  font-weight: 100;
  font-family: helvetica;
  cursor: pointer;
  padding: 9px 0px;
  border-radius: 0px;
}

::placeholder {
  color: #000000;
}

a {
  font-size: 14px;
  font-family: helvetica;
  font-weight: 400;
  text-decoration: none;
  color: #130d22;
  transition: 0.5s;
  display: inline-block;
  margin: 15px;
  margin-left: 6px;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: none;
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  margin: 20px 16px;
  text-align: center;
}

.login {
  font-size: 22px;
  color: #fff;
  background-color: #1877f2;
  font-weight: 600;
  font-family: helvetica;
  cursor: pointer;
  padding: 10px 0px;
  border-radius: 8px;
  box-sizing: border-box;
  width: 352px;
  margin: 7px;
  border: 1px solid #dddfe2;
  vertical-align: middle;
  margin-bottom: 0px;
}

.login:hover {
  background-color: #174c92;
}

h6 {
  font-size: 26px;
  font-weight: 100;
  font-family: sans-serif;
  padding: 15px;
}

p {
  text-align: center;
  margin: 15px auto;
}

.wrong {
  padding-top: 5px;
  margin: 0px;
  color: red;
  font-size: 18px;
}

212529 */

.left-box {
    position: absolute;
    height: 320px;
    top: 30vh;
    left: 350px;
    width: 320px;
    max-height: 270px;
    background-color: rgb(255, 255, 255);
    text-align: left;
    padding: 20px;
    padding-right: 150px;
}

.box-right {
  position: absolute;
  width: 320px;
  height: 380px;
  background-color: #474a59;
  top: 150px;
  right: 380px;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
}

  .form {
  margin: 30px 60px;
  position: absolute;
}
label {
  color:  #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
input {
  background: transparent;
  border: 1px solid rgb(44, 40, 40);
  padding: 6px 10px;
  border-radius: 10px;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
  margin-left: -10px;
  margin-top: 10px;
}
input::-moz-focus-inner { 
  border: 0; 
}
button {
  font-size: 14px;
  display: block;
  color: #ffffff;
  margin-top: 40px;
  transition: color 300ms;
  cursor: pointer;
  text-align: center;
  padding: 15px 70px;
  border-radius: 25px;
  margin: 30px auto;
  background-color: transparent;
}
button:focus {
  color: #f2f2f2;
}
button:active {
  color: #d0d0d2;
}

.wrong {
  font-family: 'Inter UI', sans-serif;
  font-size: 10px;
  color: rgb(255, 255, 255);
  margin: 0px;
  padding: 5px;
}
